@import url(reset.css);

/** {
   color: darkblue;
}*/

p {
   color: lightseagreen;
}

div {
   color: green;
}

.text {
   color: blue;
}

[class*="plans"] {
   color:blueviolet;
}

[class*="__text"] {
   color: yellowgreen;
}

#sow {
   color: lightsalmon;
}

#some-id {
   color: red;
}

.text.plans {
   color:rgb(255, 0, 174);
}

a {
   color: red;
}

.list,a {
   color:rgb(0, 219, 4);
}

#fear, a {
   color:blue;
}

.content * a {
   color:darkgreen;
}

div .text, a {
   color:red;
}


div .fishtext {
   color: rgb(221, 4, 206);
}

.horror .fishtext {
   color:blue;
}

.listing * li {
   color: lightsalmon;
}

.plans,
.family {
   color:black;
}

.lesson p {
   color: black;
}

.blue-text {
   color: blue;
}

.lesson .text {
   color:brown;
}

.text * {
   color:rgb(0, 219, 4)
}

.text > p {
   color: yellow;
}

.text ~ p {
   color: black;
}

.text + p {
   color:aqua;
}

#some-id {
   color:blue;
}

.murad, a {
   color: blue;
}


.page__text {

}
.text {
}
.plans {
}
.horror {
}
.lesson {
}
.family {
}
.fish {
}
.blue-text {
}
.listing {
}