
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap');




@font-face {
   font-family: 'CoreSansC';
   src: 
      url(../fonts/CoreSansC/CoreSansC-45Regular.woff2) format(woff2),
      url(../fonts/CoreSansC/CoreSansC-45Regular.woff) format(woff);
      font-weight: normal;
      font-style: normal;
      font-display: swap;
}

@font-face {
   font-family: 'CoreSansC';
   src: 
      url(../fonts/CoreSansC/CoreSansC-55Medium.woff2) format(woff2),
      url(../fonts/CoreSansC/CoreSansC-55Medium.woff) format(woff);
      font-weight: 500;
      font-style: normal;
      font-display: swap;
}

font-face {
   font-family: 'CoreSansC';
   src: 
      url(../fonts/CoreSansC/CoreSansC-85Heavy.woff2) format(woff2),
      url(../fonts/CoreSansC/CoreSansC-85Heavy.woff) format(woff);
      font-weight: 800;
      font-style: normal;
      font-display: swap;
}
